.all-orders-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.all-orders-container h1 {
  text-align: center;
  margin-bottom: 20px;
}
.orders-list {
  list-style: none;
  padding: 0;
}
.orders-list li {
  background-color: #f9f9f9;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.order-li-container{
    display: flex;
}

.img-product-order {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-basis: 16%;
  padding: 0;
}

.img-product-order img {
  width: auto;
  max-height: 150px;
}
.orders-list li p {
  margin: 5px 0;
}
