.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-container form {
  width: 30rem;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  background-color: white;
}

.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  font-size: 1.2rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

.form-group input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
}

.error-message {
  color: var(--danger-color, #dc3545);
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  display: none; /* Initially hidden */
}

.form-group input:user-valid {
  border-color: var(--success-color, #28a745);
}

.form-group input:user-invalid {
  border-color: var(--danger-color, #dc3545);
}

.auth-container button {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: var(--primary-color, #0066ff);
  color: white;
  cursor: pointer;
}

.auth-container button:hover {
  background-color: var(--primary-color-dark, #0157e0);
}

.navigate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.auth-container a {
  color: var(--primary-color, #0066ff);
}
