.footer-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#newsLetter {
  display: flex;
  padding: 40px 60px;
  justify-content: space-between;
  border-radius: 5px;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("img/banner/b14.png");
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsLetter h2 {
  color: #fff;
  font-size: 28px;
  padding-left: 4%;
}
#newsLetter h5 {
  color: #6d6d6d;
}
#newsLetter h5 span {
  color: #ff9412;
}

.signUpinput {
  display: flex;
}

.signUpinput input {
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 4px;
  width: 350px;
  height: 3.125rem;
  padding: 0 1.25em;
  border: 1px solid transparent;
  outline: none;
}

.signUpinput button {
  margin-left: 0px;
  background-color: #088178;
  color: #fff;
  margin: 0px;
  white-space: nowrap;
}

/* Footer */

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  padding: 40px 60px;
}
.footer h5 {
  color: #000;
}
.footer h5 {
  margin-left: 0px;
  margin-bottom: 10px;
}

.footer .col {
  display: flex;
  flex-direction: column;
  align-content: start;
}
.footer .col h4 {
  margin-bottom: 20px;
}

.footer .col a {
  text-decoration: none;
  color: #222;
  margin-bottom: 15px;
}

.footer .Install .Dpp {
  border: 2px solid #088178;
  border-radius: 6px;
}

.footer .firstsection img {
  margin-bottom: 30px;
}

.footer .sociallinks i {
  margin: 5px;
}

.footer .sociallinks i:hover,
.footer .col a:hover {
  color: #088178;
}

.footer .copywrite {
  width: 100%;
  text-align: center;
}
.footer__about>#footer_about_link>a:hover{
  color: var(--link-hover-color);
}
